<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %cyan(%logger{36}) - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>

    <!-- Different log levels for different packages -->
    <logger name="com.shuttle" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- Root logger OFF -->
    <root level="OFF"/>

</configuration>
